.product {
    border: 1px solid #ccc; /* Adds some styling to the product for better visualization */
    padding: 16px;
    width: calc(33.33% - 20px); /* Adjusts the width for three products in a row with spacing */
    margin: 10px; /* Adds margin between products */
    display: inline-block; /* Ensures products sit in a row */
    vertical-align: top; /* Aligns products at the top */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .star-container {
    display: flex;
    justify-content: flex-start; /* Aligns star container to the right */
    gap: 4px;
  }
  button{
    width: 100%;
    height: 25px;
    color: #434834;
  }
  .old-price{
    text-decoration: line-through;
  }
  
  